<html>
  <head>

  </head>

  <body>
    <h1>Keyword in Context</h1>

    <ul>
      <% @kwic_dict.each do |key, value| %>
        <% value.each do |title| %>
          <li><b><%= key %></b> | <%= title %> </li>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>