<html>
  <head>

  </head>

  <body>
    <h1>Keyword in Context</h1>

    <ul>
      <% @kwic_dict.each do |key, value| %>
        <% value.each do |title| %>
          <% words = title.downcase.split(/\W+/) %>
          <% index = words.index(key) %>
          <li><%= words[0, index.to_i].join(' ') %> <b><%= key %></b> <%= words[index.to_i+1, words.size].join(' ') %> </li>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>